@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body,
html {
  overflow-x: hidden;
  transition: background-color 0.2s, color 0.2s;
}

body {
  @apply font-bahnschrift;
}

/* ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #76b4f1;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: none;
} */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

@layer base {
  .text-gradient {
    @apply text-transparent bg-clip-text brightness-105 bg-gradient-to-r from-cyan-500 to-purple-500 hover:bg-gradient-to-r hover:from-purple-600 hover:to-cyan-500 dark:from-cyan-400 dark:to-purple-300 dark:hover:from-purple-300 dark:hover:to-cyan-400;
  }
  .text-gradient1 {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-blue-600 to-purple-600 dark:from-blue-400 dark:to-purple-400;
  }
  .bg-gradient {
    @apply bg-gradient-to-r from-blue-500 to-purple-600 hover:from-blue-600 hover:to-purple-700;
  }
}
